[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/bundle/rust"]
	path = bundle/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/cscope_maps"]
	path = bundle/cscope_maps
	url = git@github.com:steffanc/cscopemaps.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
